<section class="container panel-page container-opc" *ngIf="user">

    <h1 class="titulo">Panel de Noticias</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-titulo">Titulo</th>
                <th scope="col" class="col-opc">Usuario</th>
                <th scope="col" class="col-opc">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let noticia of noticias; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td class="col-titulo">{{noticia.titulo}}</td>
                <td class="col-opc">{{noticia.id_usuario_noticia}}</td>
                <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarNoticia(noticia.id_noticia)">Borrar</button></td>
            </tr>
        </tbody>
    </table>

    <button *ngIf="privilegio_agregar_noticia" class="btn btn-success ml-3" (click)="agregarNoticia()">Agregar</button>

    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverPanel()">Volver</button>
    </div>
    
</section>