.home{
    display: grid;
    grid-template-areas: "main";
    margin: 0 3%;
}

.item{
    background-color: turquoise;
    border: 1px solid red;
}

.main{
    grid-area: main;
}

.enlace-juego{
    cursor: pointer;
}