<section class="container" *ngIf="!user">
    <form [formGroup] = "formAddNoticia">
        <ul class="list-group">

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Usuario</label>
                    <div class="input-obligatorio">
                        <input type="text" class="form-control" [(ngModel)]="usuario" required minlength="8" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2 mr-4">*</p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Contraseña</label>
                    <div class="input-obligatorio">
                        <input type="text" class="form-control" [(ngModel)]="clave" required minlength="8" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2 mr-4">*</p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Email</label>
                    <div class="input-obligatorio">
                        <input type="text" class="form-control" [(ngModel)]="email" required minlength="8" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2 mr-4">*</p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Nombre</label>
                    <div class="input-obligatorio">
                        <input type="text" class="form-control" [(ngModel)]="nombre" required minlength="8" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2 mr-4">*</p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Apellido</label>
                    <div class="input-obligatorio">
                        <input class="form-control" [(ngModel)]="apellido" required minlength="8" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2 mr-4">*</p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="media-body media-middle">
                    <label>Pais</label>
                    <div class="input-obligatorio">
                        <input class="form-control" [(ngModel)]="pais" required minlength="8" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2 mr-4">*</p>
                    </div>
                </div>
            </li>

            <div class="error-login" [innerHtml]="htmlToAdd"></div>

        </ul>
        <button class="btn btn-primary" (click)="agregarUsuario()">Registrarse</button>
    </form>
</section>
<div class="btn-volver">
    <button class="btn btn-primary m-3" (click)="volverHome()">Volver</button>
</div>
