.fondo{
    background: #1f1f1f;
    padding: 25px;
    padding-top: 0px;
}

.noticias{
    display: flex;
    margin-top: 20px;
}

.titulo-noticias{
    display: flex;
    color:white;
}

.noticia-container{
    border: 1px solid gray;
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.enlase-noticia{
    cursor: pointer;
}