<section class="noticias-container panel-page">
    <div class="container">
        <div class="row noticias" >
            <h2 class="titulo-noticias">Noticias</h2>
            <div class="col-12" *ngFor="let noticia of noticias">
                <a class="enlase-noticia" (click)="clicked(noticia)">
                    <div class="noticia-container" >
                        <h3 class="detalle-noticia">{{noticia.titulo}}</h3>
                        <p class="detalle-noticia">{{ noticia.descripcion }}</p> 
                        <p class="detalle-noticia">Fecha de publicacion: {{ getFecha(noticia) }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="btn-volver">
            <button class="btn btn-primary m-3" (click)="volverHome()">Volver</button>
        </div>
    </div>
</section>