<section class="noticias-container">
    <div class="container">
        <div class="row noticias" >
            <h2 class="titulo-noticias">Noticias</h2>
            <div class="col-12" *ngFor="let noticia of noticias">
                <a class="enlase-noticia" (click)="clicked(noticia)">
                    <div class="noticia-container" >
                        <h3 class="detalle-noticia">{{noticia.titulo}}</h3>
                        <p class="detalle-noticia">{{ noticia.descripcion }}</p> 
                        <p class="detalle-noticia">Fecha de publicacion: {{ getFecha(noticia) }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" *ngIf="user">
            <div class="col-md-12">
                <h2 class="noticia-titulo">Crear noticia</h2>
        
                <form [formGroup] = "formAddNoticia">
                        <ul class="list-group">
        
                            <li class="list-group-item">
                                <div class="media-body media-middle form-group item-form">
                                    <label>Titulo</label>
                                    <input type="text" class="form-control" [(ngModel)]="titulo" required minlength="10" [ngModelOptions]="{standalone: true}">
                                    <div *ngIf="!titulo" class="alert alert-danger">
                                        <div>
                                            Titulo es requerido.
                                        </div>
                                    </div>
                                </div>
                            </li>
        
                            <li class="list-group-item">
                                <div class="media-body media-middle form-group item-form">
                                    <label>Descripcion</label>
                                    <textarea class="form-control" [(ngModel)]="descripcion" required minlength="10" [ngModelOptions]="{standalone: true}"></textarea>
                                    <div *ngIf="!descripcion" class="alert alert-danger">
                                        <div>
                                            El descripcion es requerida.
                                        </div>
                                    </div>
                                </div>
                            </li>
        
                            <li class="list-group-item">
                                <div class="media-body media-middle">
                                    <label>Cuerpo</label>
                                    <textarea class="form-control" [(ngModel)]="cuerpo" required minlength="10" [ngModelOptions]="{standalone: true}"></textarea>
                                    <div *ngIf="!cuerpo" class="alert alert-danger">
                                        <div>
                                            El cuerpo es requerido.
                                        </div>
                                    </div>
                                </div>
                            </li>
        
                            <li class="list-group-item">
                                <div class="media-body media-middle">
                                    <label>Fecha Publicacion</label>
                                    <textarea class="form-control" [(ngModel)]="fecha_publicacion" required minlength="10" [ngModelOptions]="{standalone: true}"></textarea>
                                    <div *ngIf="!fecha_publicacion" class="alert alert-danger">
                                        <div>
                                            La Fecha es requerido.
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li class="list-group-item">
                                <div class="media-body media-middle">
                                    <label>Tags:</label>
                                    <div *ngFor="let tag of tags"> {{tag.id_tag}}.{{tag.etiqueta}}</div>
                                    <p>Ingrese el numero de la etiqueta: (separados por comas)</p>
                                    <textarea class="form-control" [(ngModel)]="tagsId" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                            </li>
    
                            <li class="list-group-item">
                                <div class="media-body">
                                    <label>Imagen</label>
                                    <button type="button" class="btn btn-primary" (click)="openImage()">Elegir imagen</button>
                                    <input type="file" #imageUpload accept="image/*" style="display: none"/>
                                    <div *ngIf="!imageUpload" class="alert alert-danger">
                                        <div>
                                            La imagen es requerida.
                                        </div>
                                    </div>
                                    <div class="previews">
                                        <img *ngFor="let imagen of imagenesUrl; let i = index" [src]="imagen" (click)="deleteImage(i)" style="width: 50px; height: 50px;cursor: not-allowed;" />
                                    </div>
                                </div>
                            </li>
        
                        </ul>
                    </form>
        
                <button class="btn btn-success" (click)="agregarNoticia()">Guardar</button>
            </div>
        </div> 
    </div>
</section>