<div class="container panel-page">

    <div class="row" *ngIf="userAdm">
        <div class="col d-flex justify-content-center">
            <div class="contenedor-panel mb-5">
                <div class="titulo-panel mt-4">
                    <h2 class="titulo-panel-h2">Panel de administracion</h2>
                </div>
                <div class="panel-botones pt-3">
                    <button class="btn-panel" (click)="irPanelJuegos()">
                        <img class="img-panel mt-2" src="../../assets/juegos-panel.svg" alt="">
                        <p>Juegos</p>
                    </button>
                    <button class="btn-panel" (click)="irPanelNoticias()">
                        <img class="img-panel mt-2" src="../../assets/noticias-panel.svg" alt="">
                        <p class="mt-1">Noticias</p>
                    </button>
                    <button class="btn-panel">
                        <img class="img-panel mt-2" src="../../assets/donaciones-panel.svg" alt="">
                        <p>Donaciones</p>
                    </button>
                </div>
                <div class="panel-botones pb-3">
                    <button class="btn-panel" (click)="irPanelUsuarios()">
                        <img class="img-panel mt-2" src="../../assets/usuarios-panel.svg" alt="">
                        <p>Usuarios</p>
                    </button>
                    <button class="btn-panel" (click)="irPanelAdmin()">
                        <img class="img-panel mt-2" src="../../assets/admin-panel.svg" alt="">
                        <p>Admin</p>
                    </button>
                    <button class="btn-panel">
                        <img class="img-panel mt-2" src="../../assets/privilegios-panel.svg" alt="">
                        <p>Privilegios</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverHome()">Volver</button>
    </div>

</div>