.titulo-requisito{
    color: white;
    display: flex;
    justify-content: center;
}

.titulo-juego{
    display: flex;
    justify-content: center;
    color: white;
}

.noticia-titulo{
    display: flex;
    justify-content: center;
    color: white;
}

.input-obligatorio{
    display: flex;
}