<section class="container" *ngIf="!user && !userAdmin">
    <div class="m-3">
        <ul class="list-group">

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Admin</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}">
                </div>
            </li>

            <li class="list-group-item">
                <div class="media-body media-middle form-group item-form">
                    <label>Contraseña</label>
                    <input type="text" class="form-control" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
                </div>
            </li>

            <div class="error-login" [innerHtml]="htmlToAdd"></div>

        </ul>
        <button class="btn btn-primary" (click)="ComprobarAdmin()">Entrar</button>
    </div>
</section>
