<section class="container panel-page container-opc" *ngIf="!userAdm && !user">
    <h1 class="titulo pt-3">Gracias por mantener ordenada nuestra comunidad</h1>
    <form>
        <div class="row">
            <div class="col">
                <div class="separador-input">
                    <p class="texto-input-up">Usuario</p>
                    <input class="input-register" type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="separador-input">
                    <p class="texto-input-up">Contraseña</p>
                    <input class="input-register" type="password" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
                </div>
                <button class="boton-registro" (click)="ComprobarAdmin()">Entrar</button>
                <div class="error-login error-texto" [innerHtml]="htmlToAdd"></div>
            </div>
        </div>
    </form>
    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverLogin()">Volver</button>
    </div>
</section>
    