<section class="container panel-page container-opc" *ngIf="!user">
    <h1 class="titulo">No te pierdas las ultimas noticias, entra ahora!</h1>
    <form>
        <div class="row">
            <div class="col">
                <div class="separador-input">
                    <p class="texto-input-up">Usuario</p>
                    <input class="input-register" type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="separador-input">
                    <p class="texto-input-up">Contraseña</p>
                    <input class="input-register" type="password" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
                </div>
                <button class="boton-registro" (click)="ComprobarUsuario()">Entrar</button>
                <div class="contenedor-enlace-admin">
                    <a *ngIf="!user && !userAdm" class="enlace-admin" (click)="clickedLoginAdmin()">Soy Admin</a>
                </div>
                <div class="error-login error-texto" [innerHtml]="htmlToAdd"></div>
            </div>
        </div>
    </form>
    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverHome()">Volver</button>
    </div>
</section>
