<section>

      <div class="media m-y-4">
        <div class="media-body">
          <p class="m-b-0 clearfix" >{{ titulo }}</p>
        </div>
      </div>

      <div class="media m-y-4">
        <div class="media-body">
          <p class="m-b-0 clearfix" >{{ descripcion }}</p>
        </div>
      </div>

      <div class="media m-y-4">
        <div class="media-body">
          <p class="m-b-0 clearfix" >{{ cuerpo }}</p>
        </div>
      </div>

      <div class="media m-y-4">
        <div class="media-body">
          <p class="m-b-0 clearfix" >{{ fecha_publicacion }}</p>
        </div>
      </div>

      <div>
        <div *ngFor="let tags of tagsEtiquetas">
          <p>{{ tags }}</p>
        </div>
      </div>

      <div class="media m-y-4">
        <div class="media-body" >
          <p class="m-b-0 clearfix" >{{ comentarios }}</p>
        </div>
      </div>

      <button class="btn btn-success" (click)="borrarNoticia()">Borrar Noticia</button>

</section>