<section class="container panel-page container-opc" *ngIf="userAdm">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-titulo">Admin</th>
            </tr>
        </thead>
        <tbody *ngFor="let admin of admins; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td class="col-titulo">{{admin.usuario}}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverPanel()">Volver</button>
    </div>
</section>