.container-opc{
    background: linear-gradient(to bottom, #1f1f1fcc 50%, #1f1f1fcc 100%);
    padding: 40px
}

.titulo{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Agency FB Bold', arial;
    font-weight: 600;
}

.col-titulo{
    width: 90%;
}

.col-opc{
    width: 25%;
}