<app-barra-navegacion></app-barra-navegacion>
<section class="juegos-container panel-page">
    <div class="container">
        <div class="row juegos" >
            <h2 class="titulo-juego">Juegos</h2>
            <div class="col-12" *ngFor="let juego of juegos">
                <a class="enlace-juego" (click)="clicked(juego)">
                    <div class="juego-container">
                        <h3>{{juego.titulo}}</h3>
                        <p>{{ juego.descripcion }}</p> 
                        <p>Fecha de lanzamiento: {{ getFecha(juego) }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="btn-volver">
            <button class="btn btn-primary m-3" (click)="volverHome()">Volver</button>
        </div>
    </div>
</section>