<header class="container-fluid header">
  <nav class="navbar">
    <a class="logo-header" href="#">
      <img src="../../assets/ganador.svg" alt="" height="50" width="50">
      <h1 class="titulo-header">World Game</h1>
    </a>
    
    <div class="mt-1">
      <div class="d-flex mt-1" *ngIf="user">
        <p class="login-bienvenido">Bienvenido {{usuario}}</p>
        <p class="enlace-guion">-</p><a *ngIf="user" class="enlace-panel" (click)="clickedPanel()">Panel Admin</a>
        <p class="enlace-guion">-</p><a *ngIf="user || userAdm" class="enlace-salir" (click)="clickedSalir()">Salir</a>
      </div>
      <div class="d-flex mt-1">
        <a *ngIf="!user" class="enlace mr-1" (click)="clickedLogin()">Entrar</a>
        <p *ngIf="!user" class="enlace-guion">-</p>
        <a *ngIf="!user" class="enlace" (click)="clickedRegistrarse()">Registrarse</a>
      </div>
    </div>
  </nav>
</header>