.header{
    height: 150px;
}
.navbar{
    height: 20%;
    display: flex;
}

.logo-header{
    display: flex;
    text-decoration: none;
}

.titulo-header{
    color: #ffffffed;
    margin-left: 10px;
    font-family: 'Faster One', cursive;
}

.enlace-header{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.enlace-header:hover{
    color: #ffde23;
}

.login-bienvenido{
    color: white;
}