.header{
    height: 70px;
    background: linear-gradient(to bottom, #000000 5%, #151515 100%);
}
.navbar{
    height: 20%;
    display: flex;
}

.logo-header{
    display: flex;
    text-decoration: none;
}

.titulo-header{
    color: #ffffffed;
    margin-left: 10px;
    font-family: 'Faster One', cursive;
}

.enlace-header{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.enlace-header:hover{
    color: #ffde23;
}

.login-bienvenido{
    color: white;
    font-family: 'Agency FB Bold', arial;
    font-size: 24px;
}

.enlace{
    color: #cef3ff !important;
    margin-right: 10px;
    font-family: 'Agency FB Bold', arial;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.enlace-salir{
    color: #cef3ff !important;
    margin-right: 10px;
    font-family: 'Agency FB Bold', arial;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 4px;
}

.enlace-panel{
    color: #cef3ff !important;
    font-family: 'Agency FB Bold', arial;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 4px;
}

.enlace-guion{
    color: #cef3ff !important;
    margin-right: 10px;
    font-family: 'Agency FB Bold', arial;
    font-size: 20px;
    font-weight: 500;
    margin-top: 4px;
    margin-left: 8px;
}

.enlace:hover{
    color: #81e0ff !important;
    text-decoration-line: underline !important;
}

.enlace-salir:hover{
    color: #81e0ff !important;
    text-decoration-line: underline !important;
}

.enlace-panel:hover{
    color: #81e0ff !important;
    text-decoration-line: underline !important;
}