@font-face {
    font-family: 'Agency FB Bold';
    src: URL('assets/AgencyFB.ttf') format('truetype');
}

body{
    background-color: #1f1f1f;
    background-image: url("assets/circuito.svg");
}

.btn-volver{
    display: flex;
    justify-content: center;
}

.input-obligatorio{
    display: flex;
}

.panel-page{
    min-height: calc(100vh - 313px);
}