body{
    background-color: #151515;
    background-image: url("assets/circuito.svg");
}

.btn-volver{
    display: flex;
    justify-content: center;
}

.input-obligatorio{
    display: flex;
}

.panel-page{
    min-height: calc(100vh - 313px);
}