<section class="container" *ngIf="userAdm">

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col-titulo">Titulo</th>
                    <th scope="col" class="col-opc">Admin</th>
                    <th scope="col" class="col-opc">Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let juego of juegos; let i = index">
                <tr>
                    <th scope="row">{{i}}</th>
                    <td class="col-titulo">{{juego.titulo}}</td>
                    <td class="col-opc">{{juego.id_admin_creado}}</td>
                    <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarJuego(juego.id_juego)">Borrar</button></td>
                </tr>
            </tbody>
        </table>

    <div class="row">
        <div class="col-md-12">
            <h2 class="titulo">Crear Juego</h2>
            <form [formGroup] = "formAddJuego">
                    <ul class="list-group">
    
                        <li class="list-group-item">
                            <div class="media-body media-middle form-group item-form">
                                <label>Titulo</label>
                                <div class="input-obligatorio">
                                    <input type="text" class="form-control" [(ngModel)]="tituloJuego" required minlength="10" [ngModelOptions]="{standalone: true}">
                                    <p class="ml-2 mr-4">*</p>
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle form-group item-form">
                                <label>Descripcion</label>
                                <div class="input-obligatorio">
                                    <textarea class="form-control" [(ngModel)]="descripcionJuego" required minlength="10" [ngModelOptions]="{standalone: true}"></textarea>
                                    <p class="ml-2 mr-4">*</p>
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle">
                                <label>Genero</label>
                                <div class="input-obligatorio">
                                    <input class="form-control" [(ngModel)]="generoJuego" required minlength="10" [ngModelOptions]="{standalone: true}">
                                    <p class="ml-2 mr-4">*</p>
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle">
                                <label>Tipo</label>
                                <div class="input-obligatorio">
                                    <input class="form-control" [(ngModel)]="tipoJuego" required minlength="10" [ngModelOptions]="{standalone: true}">
                                    <p class="ml-2 mr-4">*</p>
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle">
                                <label>Desarrollador</label>
                                <div class="input-obligatorio">
                                    <input class="form-control" [(ngModel)]="desarrolladorJuego" required minlength="10" [ngModelOptions]="{standalone: true}">
                                    <p class="ml-2 mr-4">*</p>
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle">
                                <label>Fecha Lanzamiento</label>
                                <div class="input-obligatorio">
                                    <input class="form-control" [(ngModel)]="fecha_lanzamientoJuego" required minlength="10" [ngModelOptions]="{standalone: true}">
                                    <p class="ml-2 mr-4">*</p>
                                </div>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle">
                                <label>Tags:</label>
                                <div *ngFor="let tag of tagsJuego"> {{tag.id_tag}}.{{tag.etiqueta}}</div>
                                <p>Ingrese el numero de la etiqueta: (separados por comas)</p>
                                <textarea class="form-control" [(ngModel)]="tagsIdJuego" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body media-middle">
                                <label>Modos:</label>
                                <div *ngFor="let modo of modosJuego"> {{modo.id_modo}}.{{modo.modo}}</div>
                                <p>Ingrese el numero del Modo: (separados por comas)</p>
                                <textarea class="form-control" [(ngModel)]="modosIdJuego" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </li>
    
                        <li class="list-group-item">
                            <div class="media-body">
                                <label>Imagen</label>
                                <button type="button" class="btn btn-primary" (click)="openImage()">Elegir imagen</button>
                                <input type="file" #imageUpload accept="image/*" style="display: none"/>
                                <div *ngIf="!imageUpload" class="alert alert-danger">
                                    <div>
                                        La imagen es requerida. 
                                    </div>
                                </div>
                                <div class="previews">
                                    <img *ngFor="let imagen of imagenesUrlJuego; let i = index" [src]="imagen" (click)="deleteImage(i)" style="width: 50px; height: 50px;cursor: not-allowed;" />
                                </div>
                            </div>
                        </li>
    
                    </ul>
                    <button class="btn btn-success" (click)="agregarJuego()">Guardar</button>
                </form>
        </div>
    </div> 
    
    <div class="row" *ngIf="userAdm">
        <div class="col-md-12">
            <h2 class="titulo">Crear Requisito</h2>
            <form [formGroup] = "formAddRequisito">
                <ul class="list-group">
    
                    <li class="list-group-item">
                        <div class="media-body media-middle form-group item-form">
                            <label>Sistema Operativo</label>
                            <div class="input-obligatorio">
                                <input type="text" class="form-control" [(ngModel)]="sistema_operativo" required minlength="10" [ngModelOptions]="{standalone: true}">
                                <p class="ml-2 mr-4">*</p>
                            </div>
                        </div>
                    </li>
    
                    <li class="list-group-item">
                        <div class="media-body media-middle form-group item-form">
                            <label>Procesador</label>
                            <div class="input-obligatorio">
                                <input class="form-control" [(ngModel)]="procesador" required minlength="10" [ngModelOptions]="{standalone: true}">
                                <p class="ml-2 mr-4">*</p>
                            </div>
                        </div>
                    </li>
    
                    <li class="list-group-item">
                        <div class="media-body media-middle">
                            <label>Memoria</label>
                            <div class="input-obligatorio">
                                <input class="form-control" [(ngModel)]="memoria" required minlength="10" [ngModelOptions]="{standalone: true}">
                                <p class="ml-2 mr-4">*</p>
                            </div>
                        </div>
                    </li>
    
                    <li class="list-group-item">
                        <div class="media-body media-middle">
                            <label>Grafica</label>
                            <div class="input-obligatorio">
                                <input class="form-control" [(ngModel)]="grafica" required minlength="10" [ngModelOptions]="{standalone: true}">
                                <p class="ml-2 mr-4">*</p>
                            </div>
                        </div>
                    </li>
    
                    <li class="list-group-item">
                        <div class="media-body media-middle">
                            <label>Almacenamiento</label>
                            <div class="input-obligatorio">
                                <input class="form-control" [(ngModel)]="almacenamiento" required minlength="10" [ngModelOptions]="{standalone: true}">
                                <p class="ml-2 mr-4">*</p>
                            </div>
                        </div>
                    </li>
    
                </ul>
                <button class="btn btn-success" (click)="agregarRequisito()">Guardar</button>
            </form>
        </div>
    </div>

    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverPanel()">Volver</button>
    </div>
    
</section>