<section class="container panel-page container-opc" *ngIf="userAdm">

    <h1 class="titulo">Panel de juegos</h1>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col-titulo">Titulo</th>
                    <th scope="col" class="col-opc">Admin</th>
                    <th scope="col" class="col-opc">Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let juego of juegos; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td class="col-titulo">{{juego.titulo}}</td>
                    <td class="col-opc">{{juego.id_admin_creado}}</td>
                    <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarJuego(juego.id_juego)">Borrar</button></td>
                </tr>
            </tbody>
        </table>

    <button class="btn btn-success ml-3" (click)="agregarJuego()">Agregar</button>

    <div class="btn-volver">
        <button class="btn btn-primary m-3" (click)="volverPanel()">Volver</button>
    </div>
    
</section>