<footer class="footer">
  <section class="container">
    <div class="secciones-footer">
      <div class="seccion-item">
        <h5 class="enlace-titulo">SECCIONES</h5>
        <a class="enlace-footer" href="">Noticias</a>
        <a class="enlace-footer" href="">Analisis</a>
        <a class="enlace-footer" href="">Articulos</a>
        <a class="enlace-footer" href="">Trucos</a>
      </div>
      <div class="seccion-item">
        <h5 class="enlace-titulo">JUEGOS</h5>
        <a class="enlace-footer" href="">Lanzamientos</a>
        <a class="enlace-footer" href="">Todos los juegos</a>
        <a class="enlace-footer" href="">Top 100</a>
        <a class="enlace-footer" href="">Valoracion</a>
      </div>
      <div class="seccion-item">
        <h5 class="enlace-titulo">COMUNIDAD</h5>
        <a class="enlace-footer" href="">Registro</a>
        <a class="enlace-footer" href="">Foros</a>
        <a class="enlace-footer" href="">Normas de uso</a>
        <a class="enlace-footer" href="">Ayuda</a>
      </div>
      <div class="seccion-item">
        <h5 class="enlace-titulo">WORLD GAME</h5>
        <a class="enlace-footer" href="">Sobro nosotros</a>
        <a class="enlace-footer" href="">Publicidad</a>
        <a class="enlace-footer" href="">Informacion legal</a>
        <a class="enlace-footer" href="">Contacto</a>
      </div>
    </div>
    <div class="derechos-footer">
      <p>Todos los derechos reservados. World Game.</p>
    </div>
  </section>
</footer>