<footer class="footer">
  <section class="container">
    <div class="secciones-footer">
      <div class="seccion-item">
        <h5 class="enlace-titulo">SECCIONES</h5>
        <i class="enlace-footer" (click)="clickedNoticias()">Noticias</i>
        <i class="enlace-footer" >Analisis</i>
        <i class="enlace-footer" >Articulos</i>
        <i class="enlace-footer" >Trucos</i>
      </div>
      <div class="seccion-item">
        <h5 class="enlace-titulo">JUEGOS</h5>
        <i class="enlace-footer" >Lanzamientos</i>
        <i class="enlace-footer" (click)= clickedJuegos()>Todos los juegos</i>
        <i class="enlace-footer" >Top 100</i>
        <i class="enlace-footer" >Valoracion</i>
      </div>
      <div class="seccion-item">
        <h5 class="enlace-titulo">COMUNIDAD</h5>
        <i class="enlace-footer" >Registro</i>
        <i class="enlace-footer" >Foros</i>
        <i class="enlace-footer" >Normas de uso</i>
        <i class="enlace-footer" >Ayuda</i>
      </div>
      <div class="seccion-item">
        <h5 class="enlace-titulo">WORLD GAME</h5>
        <i class="enlace-footer" >Sobro nosotros</i>
        <i class="enlace-footer" >Publicidad</i>
        <i class="enlace-footer" >Informacion legal</i>
        <i class="enlace-footer" >Contacto</i>
      </div>
    </div>
    <div class="derechos-footer">
      <p>Todos los derechos reservados. World Game.</p>
    </div>
  </section>
</footer>